<ons-page style="background-color: white">

	<ul class="topcoat-list">

		<ons-list-item
			class="topcoat-list__item--tappable topcoat-list__item__line-height" 
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('views/navigator1-sd.html')">
			<i class="fa fa-home fa-lg" style="color: #666"></i>
			&nbsp; Home
		</ons-list-item>

        <ons-list-item
                class="topcoat-list__item--tappable topcoat-list__item__line-height"
                ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('views/navigator2-sd.html')">
            <i class="fa fa-shopping-cart fa-lg" style="color: #666"></i>
            &nbsp; Shop
        </ons-list-item>

        <ons-list-item
                class="topcoat-list__item--tappable topcoat-list__item__line-height"
                ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('views/navigator3-sd.html')">
            <i class="fa fa-picture-o fa-lg" style="color: #666"></i>
            &nbsp; News
        </ons-list-item>

        <ons-list-item
                class="topcoat-list__item--tappable topcoat-list__item__line-height"
                ng-click="ons.slidingMenu.toggleMenu();
			ons.slidingMenu.setAbovePage('views/page4.html')">
            <i class="fa fa-gear fa-lg" style="color: #666"></i>
            &nbsp; Setting
        </ons-list-item>

    </ul>

</ons-page>