<ons-navigator title="Settings">
    <ons-page class="center">

        <br>
        <div class="topcoat-list topcoat-list--noborder" align="left">
            <h3 class="topcoat-list__header">カテゴリ1</h3>
            <ul class="topcoat-list__container">
                <li class="topcoat-list__item topcoat-list__item__line-height">
                    Item1 &nbsp&nbsp&nbsp&nbsp&nbsp
                    <label class="topcoat-switch">
                        <input type="checkbox" class="topcoat-switch__input">
                        <div class="topcoat-switch__toggle"></div>
                    </label>
                </li>
                <li class="topcoat-list__item topcoat-list__item__line-height">
                    Item2 &nbsp&nbsp&nbsp&nbsp&nbsp
                    <label class="topcoat-switch">
                        <input type="checkbox" class="topcoat-switch__input">
                        <div class="topcoat-switch__toggle"></div>
                    </label>
                </li>
            </ul>
            <br>
            <h3 class="topcoat-list__header">カテゴリ2</h3>
            <ul class="topcoat-list__container">
                <li class="topcoat-list__item topcoat-list__item__line-height">
                    Item1 &nbsp&nbsp&nbsp&nbsp&nbsp
                    <label class="topcoat-switch">
                        <input type="checkbox" class="topcoat-switch__input">
                        <div class="topcoat-switch__toggle"></div>
                    </label>
                </li>
                <li class="topcoat-list__item topcoat-list__item__line-height">
                    Item2 &nbsp&nbsp&nbsp&nbsp&nbsp
                    <label class="topcoat-switch">
                        <input type="checkbox" class="topcoat-switch__input">
                        <div class="topcoat-switch__toggle"></div>
                    </label>
                </li>
            </ul>
        </div>

    </ons-page>
</ons-navigator>